# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
*.zip
*.json
dashboard/streamlit_app/.streamlit/secrets.toml
.streamlit/secrets.toml
dashboard/streamlit_app/.streamlit/secrets.toml
.streamlit/secrets.toml
